<%- include('../partials/header') %>

<div class="container col-lg-6">
    <a href="/asanas/<%= asana._id %>" class="btn btn-color btn-sm rounded-pill float-right">Back To Description</a>

    <h4>Update Asana</h4>
    <form action="/asanas/<%= asana.id %>?_method=PUT" method="POST" autocomplete="off">
        <label>Name:</label>
        <input class="form-control" name="name" value="<%= asana.name %>" type="text" name="name">
        <br>
        <label>Type of Asana</label>
        <select class="form-control" name="typeOfAsana">
            <option value="forwardbend">forwardbend</option>
            <option value="backbend">backbend</option>
            <option value="twist">twist</option>
        </select>
        <br>
        <label>Original Name:</label>
        <input class="form-control" name="originName" value="<%= asana.originName %>" type="text">
        <br>
        <label>Description:</label>
        <textarea type="text" class="form-control" name="description" value="<%= asana.description %>" maxlength="1000"></textarea>
        <input class="btn btn-color btn-lg mt-5 rounded-pill float-right" type="submit" value="Edit Asana">
    </form>
</div>

<%- include('../partials/footer') %>