<%- include('../partials/header') %>
    
<div class="parent">
    <% asanas.forEach(function(asana) { %>
                <div class="col-md-4">
                    <li><%= asana.photosURLs %></li>
                    <li><%= asana.name %></li>
                    <li><%= asana.originName %></li>
                    <li><%= asana.typeOfAsana %></li>
                    <li><a href="/asanas/<%= asana._id %>">DESCRIPTION</a></li>
                </div>
                <% }); %>
</div>

<%- include('../partials/footer') %>