<%- include('../partials/header') %>
    
<div class="parent container">
    <% asanas.forEach(function(asana) { %>
                <div class="col-lg-6 col-md-4">
                    <ul class="p-4">
                        <li class="heading"><%= asana.name %></li>
                        <li class="italic"><%= asana.typeOfAsana %></li>
                        <li><a href="/asanas/<%= asana._id %>">DESCRIPTION</a></li>
                        <% if (user) { %>
                        <li><form action="/asanas/<%= asana._id %>?_method=DELETE" method="POST" id="deleteAsana">
                            <button type="submit" form="deleteAsana" class="btn border-secondary btn-circle">X</button>
                        </form></li>
                        <% } %>
                    </ul> 
                </div>
                <% }); %>
</div>

<%- include('../partials/footer') %>