<%- include('../partials/header') %>
    
<div class="parent container col-lg-6 col-md-10 col-sm-12">
    <% asanas.forEach(function(asana) { %>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <ul class="p-4">
                        <li class="heading"><%= asana.name %></li>
                        <li class="italic"><%= asana.typeOfAsana %></li>
                        <li><a href="/asanas/<%= asana._id %>">DESCRIPTION</a></li>
                    </ul> 
                </div>
                <% }); %>
</div>

<%- include('../partials/footer') %>