<%- include('../partials/header') %>
    <h4 class="text-center">Yoga space</h4>
    <div class="tab">
        <button class="tablinks" id="defaultOpen" onclick="openCity(event, 'asanas')">Asanas</button>
        <button class="tablinks" onclick="openCity(event, 'routines')">Routines</button>
    </div>
    <div class="container col-12 tabcontent" id="asanas">
        <% asanas.forEach(function(asana) { %>
            <div class="col-6 m-0">
                <a href="/asanas/<%= asana._id %>">
                    <img class="img-fluid" src="<%= asana.photosURLs %>" alt="">
                    <p>
                        <%= asana.name %>
                    </p>
                </a>
            </div>
            <% }); %>
    </div>
    </main>
    <%- include('../partials/footer') %>