<%- include('../partials/header') %>

<form action="/asanas/new" method="POST">
    <label>Title</label>
    <select name="name">
        <option value="Morning Routine">Morning Routine</option>
        <option value="Evening Routine">Evening Routine</option>
        <option value="Detox Routine">Detox Routine</option>
    </select>
    <select name="backbends" id="">
        <%- routines.map(r=>
        <option value="${r._id}">${r.backbends}</option>).join('')
    </select>
    <select name="forwardbend" id="">
        <%- routines.map(r=>
        <option value="${r._id}">${r.forwardbend}</option>).join('')</select>
    <select name="twists" id="">
        <%- routines.map(r=>
        <option value="${r._id}">${r.twists}</option>).join('')</select>
        <input type="submit" value="Add Routine">
        </form>

<%- include('../partials/footer') %>