<%- include('../partials/header') %>


<div class="container">
    <div><img src=<%= asana.photosURLs %></div>
    <div>Name: </div>
    <div><%= asana.name %></div>
    <hr>
    <div>Original Name: </div>
    <div><%= asana.originName %></div>
    <hr>
    <div>Type: </div>
    <div><%= asana.typeOfAsana %></div>
    <hr>
    <div>Description: </div>
    <div><%= asana.description %></div>
</div>


<%- include('../partials/footer') %>