<%- include('../partials/header') %>


    <div class="container">
        <div class="text-center"><img class="img-fluid" src="<%= asana.photosURLs %>" width=""></div>
        <% if (user) { %>
            <div><a href="/asanas/<%= asana._id%>/edit"
                    class="btn btn-color btn-sm mt-5 rounded-pill float-right">Update Asana</a></div>
            <% } %>
                <div class="mt-5 heading">Name: </div>
                <div>
                    <%= asana.name %>
                </div>
                <hr>
                <div class="heading">Original Name: </div>
                <div>
                    <%= asana.originName %>
                </div>
                <hr>
                <div class="heading">Type: </div>
                <div>
                    <%= asana.typeOfAsana %>
                </div>
                <hr>
                <div class="heading">Description: </div>
                <div>
                    <%= asana.description %>
                </div>
                <% if (user) { %>
                    <div class="mt-4">
                        <form action="/asanas/<%= asana._id %>?_method=DELETE" method="POST" id="deleteAsana">
                            <button type="submit" form="deleteAsana" class="btn border-secondary btn-circle">X</button>
                        </form>
                    </div>
                    <% } %>
    </div>
    </main>



    <%- include('../partials/footer') %>