<%- include('../partials/header') %>


<div class="container">
    <div class="text-center"><img src="<%= asana.photosURLs %>" width="500px"></div>
    <div class="m-5 text-right"><a href="/asanas">BACK TO ASANAS</a></div>

    <div class="mt-5 heading">Name: </div>
    <div><%= asana.name %></div>
    <hr>
    <div class="heading">Original Name: </div>
    <div><%= asana.originName %></div>
    <hr>
    <div class="heading">Type: </div>
    <div><%= asana.typeOfAsana %></div>
    <hr>
    <div class="heading">Description: </div>
    <div><%= asana.description %></div>
</div>



<%- include('../partials/footer') %>